In [ ]:
!pip install faker

Collecting faker
  Downloading Faker-19.2.0-py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 4.9 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)
Installing collected packages: faker
Successfully installed faker-19.2.0

In [ ]:
import pandas as pd
import numpy as np
from faker import Faker
import random

In [ ]:
# from google.colab import files
# uploaded = files.upload()
df_school=pd.read_csv("Schools.csv", delimiter=";")
df_school

,Unnamed: 0,Country,Region,City,School,Start_Class,Class #,Max # of Section,Min # of Students,Max # of Students
0,0,Kazakhstan,Akmola,Atbasar,Lyceum No. 11,1,12,3,15,25
1,1,Kazakhstan,Akmola,Atbasar,CS No.72,1,12,3,15,25
2,2,Kazakhstan,Akmola,Atbasar,Gymnasium No.63,1,12,3,15,25
3,3,Kazakhstan,Akmola,Shchūchīnsk,Lyceum No. 114,1,12,3,15,25
4,4,Kazakhstan,Akmola,Shchūchīnsk,Gymnasium No.65,1,12,3,15,25
...,...,...,...,...,...,...,...,...,...,...
76,76,Country_3,Region_c3_3,city_c3r3_2,school_c3r3c2_2,1,12,3,15,25
77,77,Country_3,Region_c3_3,city_c3r3_2,school_c3r3c2_3,1,12,3,15,25
78,78,Country_3,Region_c3_3,city_c3r3_3,school_c3r3c3_1,1,12,3,15,25
79,79,Country_3,Region_c3_3,city_c3r3_3,school_c3r3c3_2,1,12,3,15,25
80,80,Country_3,Region_c3_3,city_c3r3_3,school_c3r3c3_3,1,12,3,15,25

In [ ]:
# Schools dosyasini ac, df-in icine oku
# satir satir okullari getir
# okul degerlerii degiskenlere ata

schools =df_school["School"]
classes = list(range(1, df_school["Class #"].max() + 1))
sections = ["A", "B", "C"]
semesters = [1,2]
year="2000"

data = {
        "school": [],
        "class": [],
        "section": [],
        "student ID": [],
        "semester": [],
        "year":[]
    }

current_student_id = 0  # Start with ID 0

for school in schools:
    for _class in classes:

      r=random.randint(15, 25)
      for section in sections:

        for x in range(r):  # Her sınıf için 25 öğrenci olacak şekilde döngü oluştur
              current_student_id += 1  # Her iki öğrenci için öğrenci ID'sini artır
              for semester in semesters:
                data["school"].append(school)
                data["class"].append(_class)
                data["section"].append(section)
                data["student ID"].append(current_student_id)
                data["year"].append(year)
                data["semester"].append(semester)


df1 = pd.DataFrame.from_dict(data)
df1

                 school  class section  student ID  semester  year
0         Lyceum No. 11      1       A           1         1  2000
1         Lyceum No. 11      1       A           1         2  2000
2         Lyceum No. 11      1       A           2         1  2000
3         Lyceum No. 11      1       A           2         2  2000
4         Lyceum No. 11      1       A           3         1  2000
...                 ...    ...     ...         ...       ...   ...
116173  school_c3r3c3_3     12       C       58087         2  2000
116174  school_c3r3c3_3     12       C       58088         1  2000
116175  school_c3r3c3_3     12       C       58088         2  2000
116176  school_c3r3c3_3     12       C       58089         1  2000
116177  school_c3r3c3_3     12       C       58089         2  2000

[116178 rows x 6 columns]

In [ ]:
#dosyayı csv ye dönüştürme
df.to_csv('School_registr.csv', index=False)
from google.colab import files

In [ ]:
#csvyi indirme
files.download('School_registr.csv')